<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <httpHandlers>
      <add verb="*" path="*" type="DataApiDotNet_Complex.Handler, data-api-dot-net" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="*" />
      </assemblies>
    </compilation>
  </system.web>
</configuration>

